<div class="flex">
   <!-- sidebar -->
   <aside class="min-h-screen h-full bg-white w-3/12">
      <h1 class="font-bold text-4xl text-sky-800 p-6">dashboard</h1>
      <ul>
         <ng-container *ngFor="let item of menus">
            <li>
               <a [routerLink]="item?.link" routerLinkActive="border-white bg-sky-50"
                  class="flex font-semibold text-xl px-6 py-3 text-sky-700 hover:bg-sky-50 transition hover:duration-300 ease-in-out">{{
                  item?.name }}</a>
            </li>
         </ng-container>
      </ul>
   </aside>
   <!-- main content -->
   <main class="bg-sky-50 min-h-screen w-full flex flex-col">
      <header class="bg-white w-full p-6 flex justify-end">Admin</header>
      <section class="p-6">
         <router-outlet></router-outlet>
      </section>
      <footer class="text-center text-xs text-neutral-500 py-2 ">test angular developer PT Swadharma Duta Data 2023
      </footer>
   </main>
</div>